<mat-dialog-content class="mat-typography login-wrapper">
    <h1>{{data.title}}</h1>
    <form class="form">

        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" [(ngModel)]="employee.name" value="" name="name">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Last name" [(ngModel)]="employee.lastname" value="" name="lastname">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Code</mat-label>
            <input matInput placeholder="Code" [(ngModel)]="employee.code" value="" name="code">
        </mat-form-field>
        
        <mat-slide-toggle [checked]="employee.active" (change)="onChange($event)">Active or deactivate</mat-slide-toggle>
    </form>
      
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="close()" >Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" >Add</button>
</mat-dialog-actions>